<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Weather Project</title>
  </head>
  <body>
    <h2>Hello,Welcome to the Weather Project 2.0</h2>
    <p>
      Type in the location for which you want to get the current weather info.
    </p>
    <form action="/process" method="POST">
      <label for="cityInput">City Name : </label>
      <input id="cityInput" type="text" name="cityName" placeholder="City Here" value="" />
      <button type="submit"> Search </button>
    </form>
  </body>
</html>